@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fade In Up Animation */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 2s ease-out forwards;
  }
  
  /* Slide In Animations */
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Apply Slide In Left Animation */
  .animate-slideIn {
    animation: slideInLeft 1.6s ease-out forwards;
  }
  
  /* Apply Slide In Right Animation for the Second Element */
  .animate-slideIn:nth-child(2) {
    animation: slideInRight 1.6s ease-out forwards;
  }
  
  /* General Utility Classes */
  .opacity-0 {
    opacity: 0;
  }
  
  .translate-x-10 {
    transform: translateX(10px);
  }
  
  .-translate-x-10 {
    transform: translateX(-10px);
  }
  
  .transition-transform {
    transition: transform 0.3s ease;
  }
  
  .hover\:scale-105:hover {
    transform: scale(1.05);
  }
  
  .transition-opacity {
    transition: opacity 0.3s ease;
  }
  
  .transition-duration-700 {
    transition-duration: 0.7s;
  }
  
  